body {
    background-image:url('bg.png');
    background-repeat:repeat;
    background-size:contain;
    background-position:center;
    font-family: myFirstFont;
    color: white;
    text-align: center;
}

@font-face {
    font-family: myFirstFont;
    src: url(8bitOperatorPlus8-Regular.ttf);
}

h1 {
    font-family: myFirstFont;
    font-size: 100px;
    padding: 30px;
    word-wrap: break-word;
}

p {
    font-family: myFirstFont;
    font-size: 30px;
    border-color: white;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 50%; 
    max-height: 100%;
}

div {
    padding: 30px;
}

img {
    width: 50%;
    height: auto;
    color: white;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.icon {
    max-width: 100%;
    height: auto;
    border-color: white;
    border-radius: 3%;
}

.grid {
    /* Specifies css grid to be used */
    display:grid; 
    /* Specifies the number of columns and sizes in the grid */
    grid-template-columns: 1fr 1fr;
    /* Specifies spacing between grid cells */
    grid-gap:1rem;
}

.item img {
    max-width:100%;
    width: 70;
    margin-left: auto;
    margin-right: auto;
    /* Causes the button to sit below the img */
    display:block;
}
  
.item button {
    width:60%;
}

button {
    background: linear-gradient(to bottom, #666699 0%, #000066 100%);
    border: none;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: myFirstFont;
    font-size: 60px;
    border-radius: 6px;
    height: 100%;
    max-width: 100%;
}

a {
    font-family: myFirstFont;
    font-size: 30px;
    padding: 30px;
    word-wrap: break-word;
    color: #bf1fb2;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
@media only screen and (max-width:600px){
    button{
        width:100%;
    }
}

.button-icons {
    max-width: 100%;
    height: auto;
}