body {background-color: #000000;}

@font-face {
    font-family: myFirstFont;
    src: url(8bitOperatorPlus8-Regular.ttf);
}

h1 {
    font-family: myFirstFont;
    font-size: 100px;
    padding: 30px;
    word-wrap: break-word;
}

p {
    font-family: myFirstFont;
    font-size: 30px;
    padding: 30px;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    max-width: 50%; 
    max-height: 100%;
}

div {
    padding: 30px;
}

img {
    width: 50%;
    height: auto;
}

.icon {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}

.grid {
    /* Specifies css grid to be used */
    display:grid; 
    /* Specifies the number of columns and sizes in the grid */
    grid-template-columns: 1fr 1fr;
    /* Specifies spacing between grid cells */
    grid-gap:1rem;
}

.item img {
    width:100%;
    /* Causes the button to sit below the img */
    display:block;
}
  
.item button {
    width:60%;
}

button {
    background-color: #666699;
    border: none;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: myFirstFont;
    font-size: 60px;
    border-radius: 6px;
    width: 20%;
    height: 100%;
}

a {
    font-family: myFirstFont;
    font-size: 30px;
    padding: 30px;
    word-wrap: break-word;
    color: #bf1fb2;
}